{% extends 'base.html.twig' %}

{% block title %}Inscription - SnowTricks{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="h3 mb-4">Créer un compte</h1>

        <div class="card shadow">
            <div class="card-body">
                {{ form_start(registrationForm) }}

                <div class="mb-3">
                    {{ form_label(registrationForm.name) }}
                    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.name) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.profilePicture) }}
                    {{ form_widget(registrationForm.profilePicture, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.profilePicture) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>

                <button type="submit" class="btn btn-primary">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}