<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom d-none d-lg-block">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="SnowTricks" height="50">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('create_figure') }}">Créer une figure</a></li>
                    <li class="nav-item"><a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>