<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="SnowTricks" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Figures</a></li>
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Mon Compte</a></li>
                    <li class="nav-item"><a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                    <li class="nav-item"><a class="nav-link btn px-3" href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>